! .Xresources - Graybean

  Xft.rgba:             rgb
! Xft.rgba:             none
  Xft.antialias:        true
  Xft.hinting:          true
  Xft.lcdfilter:        lcddefault
  Xft.hintstyle:        hintfull
  Xft.dpi:              96


! URxvt Settings-----------------------------------------------------------------------

  Rxvt*depth:       32
! URxvt*background: rgba:0000/0000/0200/a300
  URxvt*background: [90]#1d0c00
! URxvt*background: [90]#17130d
  URxvt*foreground: #c3a071

  URxvt*scrollTtyOutput: false
  URxvt*scrollWithBuffer: true
  URxvt*scrollTtyKeypress: true

!  URxvt.perl-ext-common: default,matcher
  URxvt.perl-ext:
  URxvt.perl-ext-common:

  URxvt.urlLauncher:     /usr/bin/firefox
  URxvt.matcher.button:  1
  URxvt*saveLines:       12000
  URxvt*scrollstyle:     plain
  URxvt*scrollBar:       false
  URxvt*cursorBlink:     true
  URxvt*cursorUnderline: true

  URxvt*colorUL: #86a2b0

  URxvt*color0  : #101010
  URxvt*color8  : #404040

  URxvt*color1  : #953331
  URxvt*color9  : #8D4A48

  URxvt*color2  : #546A29
  URxvt*color10 : #7E9960

  URxvt*color3  : #909737
  URxvt*color11 : #9CA554

  URxvt*color4  : #385E6B
  URxvt*color12 : #5C737C

  URxvt*color5  : #7F355E
  URxvt*color13 : #95618B

  URxvt*color6  : #34676F
  URxvt*color14 : #5D858A

  URxvt*color7  : #dddddd
  URxvt*color15 : #dddddd

! Fonts-----------------------------------------------------------------------

! Bistream Vera Sans Mono
!  URxvt.font:       xft:Bitstream Vera Sans Mono:pixelsize=12:Regular
!  URxvt.boldFont:   xft:Bitstream Vera Sans Mono:pixelsize=12:Bold

! DejaVu Sans Mono
URxvt*font:      xft:DejaVu Sans Mono:pixelsize=12:Regular
URxvt*boldFont:  xft:DejaVu Sans Mono:pixelsize=12:Bold

! Use letterSpace to fix spacing bug
! URxvt.letterSpace: -1


! xcalc-----------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
! uncomment to change label on division button
! xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
