Xft.rgba:             rgb
Xft.antialias:        true
Xft.hinting:          true
Xft.lcdfilter:        lcddefault
Xft.hintstyle:        hintfull
Xft.dpi:              96
Xft.autohint:	      0

Xcursor.theme: ~/.icons/ComixCursors-White/

#include ".Xresources.d/colors/nord"
#include ".Xresources.d/rxvt"
#include ".Xresources.d/xcalc"
#include ".Xresources.d/st"
