
zmodules=(directory environment git history input utility custom pacman
          syntax-highlighting history-substring-search prompt completion)

zprompt_theme='minimal'
zcorrection='true'
zhighlighters=(main brackets)

# Arch AUR helper
zpacman_helper=(aur)
